@using SquishIt.Framework
@{
    ViewBag.Title = "Hogan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="place-for-template">If you see this, the test has failed.</div>
@section JavaScript{
    @MvcHtmlString.Create(
        Bundle.JavaScript()
            .Add("/assets/js/hogan/hogan-2.0.0.js")
            .Add("/assets/templates/hogan/template1.hogan.html")
            .ForceRelease()
            .Render("/output/templates_#.js"))
    <script>
        var d = document.getElementById("place-for-template");
        d.innerHTML = JST["template1"].render({ message: "The test passed!" });
    </script>
}