@using SquishIt.Framework
@using SquishIt.NSass
@{
    ViewBag.Title = "NSass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="test-container">
    <p class="blue-text">This text should be blue if scss was processed.</p>
    <p class="red-text">This text should be red if placeholder classes are processed.</p>
</div>

@section Styles{
    @MvcHtmlString.Create(
        Bundle.Css()
            .WithPreprocessor(new NSassPreprocessor())
            .Add("/assets/styles/sass/nsasstest.scss")
            .ForceRelease()
            .Render("/output/nsasstest.css"))
}