@using SquishIt.Framework
@{
    ViewBag.Title = "Embed Resource From Root Namespace";
}

<h2>@ViewBag.Title</h2>

<p>You should see a tag for webforms.js?r=03E310C3896859A1C4C0859818A5AE63 below:</p>

<textarea style="width:100%">@MvcHtmlString.Create(Bundle.JavaScript()
    .AddRootEmbeddedResource("~/output/test.js", "System.Web://WebForms.js")
    .ForceRelease()
    .Render("/output/webforms.js"))</textarea>
