*.user
bin
obj
*.suo
_ReSharper*
*.pidb
test-results/
*.userprefs
*.dotCover
*TestResult.xml
.nuget/

#combined files from AspNetTest
SquishItAspNetTest/css/combined*
SquishItAspNetTest/js/combined*
SquishItAspNetTest/js/output*
SquishItAspNetTest/combined*
SquishItAspNetMvcTest/templates/templates_*
*.squishit.debug.css
*.squishit.debug.js
SquishItAspNetMvcTest/output/

#crap for generating html docs
*SquishIt.shfbproj_*

.sass-cache
