<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>

<body>
    @RenderBody()
    @RenderSection("JavaScript", false)
</body>
</html>
