div#test-container p.blue-text{
    color: #00f;
}

/* this is just here to see that it gets rewritten properly */
@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot?') format('eot'), url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}