/*-------------------------------------------------- *
* CodeThinked.com Screen Stylesheet
* -------------------------------------------------- *
* Created by Aaron Kuzemchak
* http://aaronkuzemchak.com/
* July 2008
* --------------------------------------------------
-------------------------------------------------- *
* Foundation
* --------------------------------------------------*/
BODY
{
	background: #002850 url(/images/background.png) repeat-x center top;
	margin: 0;
	padding: 0;
}
#wrapper
{
	font: normal 12px Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 940px;
}
.clearfix:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
DIV.social
{
	margin-top: 10px;
}
/*-------------------------------------------------- *
* Default Typography
* --------------------------------------------------*/
.logo
{
	float: left;
	margin: 0;
	padding: 0;
}
.logo A
{
	display: block;
	float: left;
	height: 29px;
	overflow: hidden;
	width: 329px;
}
H1
{
	color: #7BBB30;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 170%;
	font-weight: normal;
	margin: 1em 0;
}
H1 A
{
	border: none !important;
	color: #7BBB30 !important;
}
H1 A:hover
{
	color: #005DAE !important;
}
H3
{
	border-bottom: 1px solid #FAC08A;
	color: #F58216;
	font: normal bold 120% "Trebuchet MS", Verdana, Arial, sans-serif;
	margin: 1em 0;
	padding-bottom: 2px;
	text-transform: uppercase;
}
H4
{
	background: transparent url(/images/sidebar-heading.png) repeat-x center top;
	color: #FFF;
	font: normal 14px/40px "Trebuchet MS", Verdana, Arial, sans-serif;
	margin: 20px 0 20px -20px;
	padding: 0 20px;
	width: 260px;
}
#sidebar H4:first-child
{
	margin-top: 0;
}
DL DT
{
	font-weight: bold;
	margin: 0;
	padding: 0;
}
DL DD
{
	margin: 0;
	padding: 0;
}
BLOCKQUOTE
{
	border-left: 1px solid #BFC9D3;
	color: #666;
	font-style: italic;
	margin: 0 0 0 1em;
	padding: 0 0 0 1em;
}
BLOCKQUOTE OL, BLOCKQUOTE UL
{
	margin-left: 0;
	padding-left: 1.5em;
}
CODE
{
	border: 1px solid #BFC9D3;
	display: block;
	font-family: Monaco, Courier, "Courier New", monospace;
	font-size: 90%;
	margin: 1em 0;
	padding: 1em;
}
DIV.modalLink
{
	font-size: 85%;
	margin: -1em 0 1em;
	text-align: center;
}
A IMG
{
	border: none;
}
A:focus, INPUT:focus
{
	outline: none;
}
UL
{
	list-style-type: none;
	padding: 0px;
}
/*-------------------------------------------------- *
* Masthead
* --------------------------------------------------*/
#masthead
{
	padding: 25px 0 20px 20px;
	position: relative;
	width: 920px;
}
#tagline
{
	clear: left;
	float: left;
	line-height: 12px;
	margin: 0.5em 0 0;
	padding: 0;
	color: #FFF;
	background-color: transparent;
}
#searchForm
{
	border: 5px solid #002850;
	border-width: 0 5px 5px;
	float: right;
	position: absolute;
	right: 0;
	top: 5px;
}
#searchForm INPUT
{
	background: #FFF url(/images/magnifying-glass.png) no-repeat right center;
	border: 5px solid #FFF;
	border-width: 0 5px 0 0;
	color: #002850;
	font: normal 10px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 5px 20px 5px 5px;
	width: 220px;
}
#nav
{
	bottom: 20px;
	float: right;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}
#nav LI
{
	float: left;
	margin: 0 20px;
	padding: 0;
}
#nav LI A
{
	color: #FFF;
	float: left;
	line-height: 12px;
	padding-top: 10px;
	text-decoration: none;
	background-color: transparent;
}
#nav LI A:hover
{
	background: transparent url(/images/nav-dot.png) no-repeat center top;
}
/*-------------------------------------------------- *
* Page Body
* --------------------------------------------------*/
#pageBody
{
	background: #FFF url(/images/body-background.png) repeat-y center top;
}
/*-------------------------------------------------- *
* Main Content
* --------------------------------------------------*/
#mainContent
{
	background-color: #FFF;
	color: #333;
	float: left;
	width: 640px;
}
#mainContent A
{
	border-bottom: 1px solid #7FAED6;
	color: #005DAE;
	text-decoration: none;
	margin-right: 0;
}
#mainContent A:hover
{
	border-bottom-color: #005DAE;
}
#feedBar
{
	background-color: #002850;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	position: relative;
}
#feedBar P
{
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
}
#feedBurner
{
	margin-right: 5px;
	margin-left: 5px;
	text-decoration: none;
	border-bottom: none;
}
A#feedBurner IMG
{
	padding-top: 5px;
}
A#feedBurner
{
	border-bottom: none;
}
A#feedIcon
{
	border: none;
	margin-right: 5px;
}
A#feedIcon IMG
{
	padding-bottom: 5px;
}
A#feedLink
{
	border-bottom: 1px solid #8094A8;
	color: #FFF;
	padding-bottom: 0px;
	background-color: transparent;
}
A#feedLink:hover
{
	border-bottom-color: #FFF;
}
#adjustTextSize
{
	float: right;
	position: absolute;
	top: 13px;
	right: 20px;
}
#adjustTextSize IMG
{
	cursor: pointer;
	display: block;
}
#textSizeBar
{
	background-color: #E5E9ED;
	color: #002850;
	height: 40px;
	line-height: 40px;
	position: relative;
}
#textSizeBar P
{
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
}
#textSizeBar LABEL
{
	margin-left: 10px;
}
#acceptChanges
{
	float: right;
	position: absolute;
	top: 13px;
	right: 20px;
}
#acceptChanges IMG
{
	cursor: pointer;
	display: block;
}
DIV.article
{
	line-height: 1.5em;
	margin: 0 20px;
}
DIV.article+DIV.article
{
	padding-top: 20px;
}
P.articleDate
{
	color: #999;
	font-size: 85%;
	margin: -1.5em 0 1em;
}
DIV.article IMG
{
	background-color: #FFF;
	border: 1px solid #BFC9D3;
	padding: 4px;
	vertical-align: bottom;
}
#mainContent DIV.social A
{
	border: 0px none #000000;
	margin-left: 5px;
}
DIV.article DIV.sidenote
{
	border: 1px dotted #BFC9D3;
	font-style: italic;
	margin: 1em 0;
	padding: 0 1em;
}
DIV.articleFooter
{
	background-color: #E5E9ED;
	border: 1px solid #D9DFE5;
	border-width: 1px 0;
	color: #002850;
	font-size: 10px;
	line-height: 20px;
	margin: 0 0 0 -20px;
	padding: 0 20px;
	width: 600px;
}
DIV.articleFooter IMG
{
	background-color: transparent;
	border: none;
	padding: 0;
}
DIV.articleFooter DL
{
	margin: 20px 0;
}
DIV.articleFooter DL DT
{
	font-size: 11px;
	font-weight: bold;
}
DL.articleInfo
{
	float: left;
	width: 280px;
}
DL.articleInfo DD
{
	padding-left: 20px;
}
DL.articleInfo DD.articleComments
{
	background: transparent url(/images/comments.png) no-repeat 0 2px;
}
DL.articleInfo DD.articleCategories
{
	background: transparent url(/images/folder.png) no-repeat 0 4px;
}
DL.articleInfo DD.articleTags
{
	background: transparent url(/images/tag.png) no-repeat 0 2px;
}
DL.submitIt
{
	float: left;
	margin-left: 20px;
	width: 150px;
}
DL.kickIt
{
	float: left;
	margin-left: 20px;
	width: 120px;
}
DL.dzoneIt
{
	float: right;
	width: 160px;
}
DL.kickIt DD A, DL.dzoneIt DD A
{
	border: none !important;
}
DL.kickIt DD IMG, DL.dzoneIt DD IMG
{
	vertical-align: top;
}
/*-------------------------------------------------- *
* Sidebar
* --------------------------------------------------*/
#sidebar
{
	background-color: #D9DFE5;
	color: #002850;
	float: right;
	font-size: 11px;
	line-height: 1.5em;
	margin-right: 20px;
	padding-bottom: 1em;
	width: 260px;
}
#sidebar A
{
	border-bottom: 1px solid #7FAED6;
	color: #005DAE;
	text-decoration: none;
}
#sidebar A:hover
{
	border-bottom-color: #005DAE;
}
DIV.sponsor
{
	width: 270px;
	margin: 0 -10px 10px;
	border: 1px solid #BFC9D3;
	padding: 5px;
	background-color: #FFF;
}
UL.archiveList
{
	list-style: none;
	margin: -19px 0 0 -20px;
	padding: 0;
	width: 300px;
}
UL.archiveList>LI
{
	margin: 1px 0;
}
UL.archiveList>LI>A
{
	background: #5B95D3 url(/images/archive-heading.png) repeat-x center bottom;
	border: none !important;
	color: #FFF !important;
	display: block;
	font-weight: bold;
	line-height: 30px;
	padding: 0 20px;
}
UL.archiveList>LI>A:hover, UL.archiveList>LI.selected>A
{
	background-position: top;
}
UL.archiveList>LI UL
{
	line-height: 20px;
	list-style: none;
	margin: 1em 20px;
	padding: 0;
}
UL.archiveList>LI UL>LI
{
	background: transparent url(/images/calendar.png) no-repeat 0 3px;
	padding-left: 20px;
}
UL.categoryList
{
	line-height: 20px;
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
UL.categoryList LI
{
	background: transparent url(/images/folder.png) no-repeat 0 4px;
	padding-left: 20px;
}
UL.tagList
{
	line-height: 20px;
	list-style: none;
	margin: 1em 0 1em -20px;
	padding: 0;
	width: 300px;
}
UL.tagList LI
{
	background: transparent url(/images/tag.png) no-repeat 0 2px;
	float: left;
	margin-left: 20px;
	padding-left: 20px;
	width: 100px;
}
#blogroll UL
{
	list-style: none;
}
UL.xoxo A
{
	margin-left: 5px;
}
/*-------------------------------------------------- *
* Footer
* --------------------------------------------------*/
#footer
{
	background-color: #6A96D0;
	color: #FFF;
	font-size: 10px;
	line-height: 1.5em;
	padding: 20px;
}
#footer P
{
	margin: 0;
}
#footer A
{
	border-bottom: 1px solid #B5CBE8;
	color: #FFF;
	text-decoration: none;
	background-color: transparent;
}
#footer A:hover
{
	border-color: #FFF;
}
/*-------------------------------------------------- *
* Modals
* --------------------------------------------------*/
.blockMsg PRE
{
	margin: 0;
}
.blockMsg CODE
{
	border: none;
	margin: 0;
	padding: 0;
}
P.closeModal
{
	bottom: -30px;
	color: #FFF;
	font-weight: bold;
	left: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: transparent;
}
P.closeModal A
{
	color: #FFF;
	background-color: transparent;
}
#commentMenu
{
	padding: 0;
	margin: 0;
	clear: both;
}
#commentMenu LI
{
	float: left;
	border: 1px solid #C0C0C0;
	border-bottom: none;
	margin: 0;
	list-style: none;
	margin-right: 5px;
	padding: 3px 8px;
	cursor: pointer;
	position: relative;
	top: 2px;
	background: #D8D8D8;
}
#commentMenu LI.selected
{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#commentPreview
{
	display: none;
	clear: both;
}
/*----------------------------Related Posts----------------------------*/
#relatedPosts
{
	background: #FFFFFF;
	padding: 5px 10px 10px;
	border: 1px solid #C0C0C0;
	margin: 10px;
}
#relatedPosts A
{
	display: block;
	margin-top: 5px;
}
#relatedPosts SPAN
{
	color: #666666;
	text-indent: 10px;
	font-size: 10px;
}
#archive
{
	margin-left: 25px;
}
#archive TABLE TD.date
{
	width: 100px;
}
#archive TABLE TD.title
{
	width: 400px;
}
#archive TABLE TD.comments
{
	width: 50px;
}
#searchpage
{
	margin: 0 15px 20px;
}
DIV.searchresult
{
	margin: 0 15px 20px;
}
UL.paging LI
{
	float: left;
	margin-left: 10px;
}
SPAN.bbcode A
{
	margin-left: 5px;
	border: 1px solid #808080;
	padding: 2px;
}