@using SquishIt.Mvc
@{
    ViewBag.Title = "Auto-Bundle Js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.AddScriptResources("/assets/js/jquery_1.7.2.js", "/assets/js/minifyjs_test.js"); }

<div id="js-test-container">
    <p style="color: #f00;">This test is broken! This text should have been replaced!</p>
</div>

@section JavaScript{
   @Html.ScriptResourceLinks()
}