@using SquishIt.Framework
@{
    ViewBag.Title = "SquishIt-Mvc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Tests:</h3>
<ul>
    <li>@Html.ActionLink("Hogan", "Hogan", "Preprocessors")</li>
    <li>@Html.ActionLink("Coffeescript", "Coffee", "Preprocessors")</li>
    <li>@Html.ActionLink("Less", "Less", "Preprocessors")</li>
</ul>
@section JavaScript {

}