@using SquishIt.Framework
@{
    ViewBag.Title = "SquishIt-Mvc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Tests:</h3>
<ul>
<li>@Html.ActionLink("Hogan", "Hogan")</li>
<li>@Html.ActionLink("Coffeescript", "Coffee")</li>
</ul>
@section JavaScript {

}